[Desktop Entry]
Type=Application
Name=Countdown Timer
Categories=GTK;GNOME;Utility;
Exec=gnome-terminal -- /home/king/Python/countdown_clock/cntdwnclk.sh
Icon=/home/king/Python/countdown_clock/clock.png
Path=/home/king/Python/countdown_clock/
Terminal=false
